---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import BackButton from '@/components/BackButton.astro'

const PRODUCTIVITY = [
	{
		name: 'Zen',
		description: 'Browser',
		href: 'https://zen-browser.app/',
		iconPath: 'zen-blue'
	},
	{
		name: 'Joplin',
		description: 'Note Taking',
		href: 'https://joplinapp.org/',
		iconPath: 'result'
	},
	{
		name: 'Activity Watch',
		description: 'Activity Tracker',
		href: 'https://activitywatch.net/',
		iconPath: 'activitywatch'
	},

	{
		name: 'OBS Studio',
		description: 'Screen Capturer',
		href: 'https://obsproject.com/',
		iconPath: 'obs'
	}
]

const DEVELOPMENT = [
	{
		name: 'VS Code',
		description: 'IDE',
		href: 'https://code.visualstudio.com/',
		iconPath: 'vs_code'
	},
	{
		name: 'ChatGPT',
		description: 'AI',
		href: 'https://chat.openai.com/',
		iconPath: 'chatgpt'
	},
	{
		name: 'GitHub Desktop',
		description: 'Git Client',
		href: 'https://desktop.github.com/',
		iconPath: 'github'
	},
	{
		name: 'Docker',
		description: 'Containerization',
		href: 'https://www.docker.com/',
		iconPath: 'docker'
	},
	{
		name: 'Postman',
		description: 'API Testing',
		href: 'https://www.postman.com/',
		iconPath: 'postman'
	},
	{
		name: 'Sublime Text',
		description: 'Text Editor',
		href: 'https://www.sublimetext.com/',
		iconPath: 'sublime_text'
	},
	{
		name: 'IntelliJ IDEA',
		description: 'IDE',
		href: 'https://www.jetbrains.com/idea/',
		iconPath: 'intellij'
	}
]
---

<PageLayout meta={{ title: 'Tools', description: 'Tools and software I use daily' }}>
	<div class='w-full'>
		<BackButton href='/' />

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Tools</h1>
				<p>Tools and software I use daily</p>
			</div>

			<ToolSection title='Productivity' tools={PRODUCTIVITY} />
			<ToolSection title='Development' tools={DEVELOPMENT} />
		</div>
	</div>
</PageLayout>
